[submodule "esp-idf"]
	path = esp-idf
	url = https://github.com/espressif/esp-idf
[submodule "components/esp-adf-libs"]
	path = components/esp-adf-libs
	url = https://github.com/espressif/esp-adf-libs
[submodule "components/snapcast/libsnapcast"]
	path = components/snapcast/libsnapcast
	url = https://github.com/bridadan/libsnapcast
[submodule "components/snapcast/libbuffer"]
	path = components/snapcast/libbuffer
	url = https://github.com/bridadan/libbuffer
